form{
  background-color: rgb(220,214,205);
  max-width: 650px;
  padding: 20px 100px;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-between;
}

#cv {
  display:none;
}

label[for="cv"]{
  text-align: center;
  font-weight: normal;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 3px;
  background-color: rgb(190, 190, 190);
  padding: 8px 10px;
  width: 180px;
  height: 20px;
}

label[for="cv"]{
  display:block;
}

label, .almostlabel{
  font-weight: bold;
}

.lista p > label, label[for="feltelek"] {
  font-weight: normal;
  margin-bottom: 5px
}

div{
  margin: 10px 10px 10px 10px;
}

h1{
  font-weight:normal;
  font-size: 1.3rem;
}

div h1{
  color: rgb(244,243,244);
  background-color: rgb(147,140,151);
  border: 0;
  border-radius: 2px;
  padding: 8px;
}

.up-wrap{
  display: flex;
  flex-direction: row;
  flex: 1 1 630px;
}

.szemelyes, .kapcsolat{
  display: flex;
  flex-direction: column;
  flex: 1 1 280px;
  justify-content: space-between;
  min-width: 130px;
  max-width: 320px;
}

#nev, .kapcsolat input, #haz{
  display: block;
}

.alapadatok{
  display: flex;
  flex: 1 1 45%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}

.radios{
  display: flex;
  flex: 1 1 47%;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin: 0;
  padding:0;
}

.szul, .nem{
   height: 50px;
   margin: 0;
}

.nem{
  display: flex;
  flex: 1 1 45%;
  justify-content: space-between;
}

.nem p{
  padding: 0 15px;
}

.szul input{
  max-width: 100px;
  margin-top: 10px;
}

.markavalaszto{
   margin-top: -15px;
   font-size: 1em;
   color: rgb(173,170,164);
   padding-left: 15px;
}

.lista div:first-child {
  float: left;
  margin:-15px 17px 0px -13px;
}

.lista div:last-child {
  float: rigth;
}

.kapcsolat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kapcsolat input, input[type="name"] {
  width: 100%;
  height: 25px;
}


.szul input[type="number"] {
  height: 25px;
}

.down-wrap{
   width: 100%;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   justify-content: space-between;
   margin-top: -25px;
}

textarea{
   display: block;
   height: 165px;
   width: 100%;
}

.btn-wrap{
   display: flex;
   flex: 1 1 45%;
   flex-direction: row;
   justify-content: space-between;
}

button{
   box-shadow: 0 1px black;
   border: 0;
   border-radius: 3px;
   width: 180px;
   height: 45px;
   padding: 8px 10px;
   text-transform: uppercase;

}

.down-wrap p:first-child{
  margin-bottom: 35px;
}

button[type="submit"]{
  background-color: #4A4261;
  font-size:1.2rem;
  color: rgb(210, 210, 210);
}


button[type="reset"]{
  background-color: #DCD6CD;
  font-size:.9rem;
  border: 1px solid rgb(82, 82, 82);
  box-shadow: none;
}

.feltolt {
  margin: 0;
}

.nem{
  vertical-align: top;
}

label[for="no"], label[for="ferfi"]{
  margin-top: -10px;
  margin-bottom: 10px;
}
