form{
  background-color: rgb(220,214,205);
  max-width: 650px;
  padding: 20px 100px;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-between;
}

div{
  margin: 10px 10px 10px 10px;
}

h1{
  font-weight:normal;
  font-size: 1.3rem;
}

div h1{
  color: rgb(244,243,244);
  background-color: rgb(147,140,151);
  border: 0;
  border-radius: 2px;
  padding: 4px;
}

.up-wrap{
  display: flex;
  flex-direction: row;
  flex: 1 1 630px;
}

.szemelyes, .kapcsolat{
  display: flex;
  flex-direction: column;
  flex: 1 1 280px;
  justify-content: space-between;
  min-width: 130px;
  max-width: 320px;
}

#nev, .kapcsolat input, #haz{
  display: block;
}

.alapadatok{
  display: flex;
  flex: 1 1 45%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}

.radios{
  display: flex;
  flex: 1 1 47%;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin: 0;
  padding:0;
}

.szul, .nem{
   height: 50px;
   margin: 0;
}

.nem{
  display: flex;
  flex: 1 1 45%;
  justify-content: space-between;
}

.nem p{
  padding: 0 15px;
}

.szul input{
  max-width: 100px;
  margin-top: 10px;
}

.markavalaszto{
   margin-top: -15px;
   font-size: 1em;
   color: rgb(173,170,164);
   padding-left: 15px;
}

.lista div:first-child {
  float: left;
  margin:-15px 17px 0px -13px;
}

.lista div:last-child {
  float: rigth;
}

.kapcsolat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.down-wrap{
   width: 100%;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   justify-content: space-between;
   margin-top: -25px;
}

textarea{
   display: block;
   height: 165px;
   width: 100%;
}

.btn-wrap{
   display: flex;
   flex: 1 1 45%;
   flex-direction: row;
   justify-content: space-between;
}

.btn-wrap button{
   box-shadow: 0 1px black;
   padding: 3px;
   border: 0;
   border-radius: 3px;
}
