body {
   background-image: url(1.jpg);
}

div {
   position: absolute;
}

.skeleton1 {
   left: 0px;
   animation: moveleft 8s 1s both 1 linear,
              verticalleft 8s 1s both 1 linear;
}

.hero-right {
   left: 0px;
   animation: moveleft 8s 4s both 1 ease,
   verticalleft 8s 4s both 1 linear;
}

.skeleton2 {
   right: 0px;
   animation: moveright 6s 10s both 1 linear,
              verticalright 6s 10s both 1 linear;
}

.hero-left {
   right: 0px;
   animation: moveright 6s 8s both 1 linear,
              verticalright 6s 8s both 1 linear;
}

.boss {
   right: 0px;
   animation: moveright 6s 9s both 1 linear,
              verticalright 6s 9s both 1 linear;
}

@keyframes moveleft{
   from{ transform: translateX(-200px)}
   to{ transform: translateX(1200px)}
}

@keyframes verticalleft {
   0%{ top: 560px}
   30%{ top: 565px}
   60%{ top: 560px}
   100%{ top: 556px}
}

@keyframes moveright{
   from{ transform: translateX(0px)}
   to{ transform: translateX(-1200px)}
}

@keyframes verticalright {
   0%{ top: 556px}
   30%{ top: 570px}
   60%{ top: 565px}
   100%{ top: 550px}
}
