body{
  width: 650px;
  position: relative;
  margin: auto;
  background-image: url(https://raw.githubusercontent.com/greenfox-academy/teaching-materials/master/tools-and-coding/project-cv/workshop/anakin.png);
  background-repeat: no-repeat;
  background-size:1280px auto;
  background-position: top center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: rgb(34,34,34);
}

header {
  height: 400px;
  font-family: 'Abril Fatface', cursive;
  position: relative;
  top: 240px;
  margin-bottom: 30px;
}

header h1, header h2{
  margin: 0px;
}

h1, h2{
  font-weight:normal;
}

h1{
  font-size: 72px;
  line-height:72px;
}
h2{
  font-size: 35px;
  line-height:35px;
}

li{
  list-style-type: square;
}
