body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #444;
  background-color:rgb(176, 218, 159);
  border: 1px solid rgb(157, 159, 157);
  border-radius: 3px;
  margin-top: 60px;
  max-width: 700px;
}

section {
  border: 1px solid rgb(141, 148, 144);
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  margin: 10px;
  min-width: 200px;
}

#info {
  height: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#info > div {
  width: 320px;
}

#playlist {
  overflow-y: scroll;
  height: 190px;
}

#control {
  width: 97%;
  height: 55px;
}

div > img {
  width: 75px;
  margin: 10px;
}

audio {
  position: relative;
  bottom: -1px;
  width: 100%;
  background-color: rgb(37, 36, 37);
}

audio::-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-current-time-display {
  padding-left: 10px;
}

div {
  border: 1px solid rgb(141, 148, 144);
  min-height: auto;
}

#current-song {
  font-family: 'Kumar One', cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100px;
}

p {
  padding: 5px;
  margin: 12px;
}

table {
  border-spacing: 4px;
}

tbody {
  font-family: 'Dosis', sans-serif;
  font-size: 19px;

}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

td:nth-child(2n) {
  width: 100%;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

tr:nth-child(odd) td {
	background: #fff6f6;
}

.active td, .active-list td{
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

button {
  height: 33px;
  box-shadow: none;
}

.pause {
   position: relative;
   top: 3px;
   left: 3px;
}
