/* main elements */
body{
  width: auto;
  height: auto;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(white, #f6f6f6 80px);
  font-size: .9rem;
  font-family: sans-serif;
}

aside{
  flex:0 0 145px;
  padding: 5px 5px 5px 0;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

main{
  box-sizing: border-box;
  min-width: calc(100% - 170px); /* depending on width of of aside element*/
  padding: 10px 10px 10px 10px;
  line-height: 1.6em;
}

article{
  background-color: white;
  border-left: 1px solid #A7D7F9;
  border-bottom: 1px solid #A7D7F9;
  padding: 10px 10px 10px 20px;
}

header{
   border-bottom: 1px solid #A7D7F9;
}

footer{
   font-size: 0.7rem;
   margin: 15px 0 15px 10px;
   color: #333;
   line-height: 1rem;
}

/* tags */

a{
  text-decoration: none;
  color: #3366bb;
}
a:hover{
  text-decoration: underline;
}

a:visited{
   color: #0b0080;
}

li{
  list-style: none;
}

ul{
  padding-left: 32px;
  margin: 5px 0 10px 0;
}

ol {
  padding-left: 20px;
}

h1,h2{
  display: block;
  border-bottom: 1px solid #CCCCCC;
  font-family: "linux", Georgia, Times, serif;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 30px;
}

h1{
  font-size: 1.8rem;
  padding-bottom: 7px;
}

h4{
   margin: 10px 0 5px 0;
   font-size: 1.05rem;
}

img{
  margin: 5px;
}

figure {
  width: 100%;
  margin: 0;
  padding:0;
}

form{
  position: relative;
}

span{
  font-weight: normal;
  color: black;
}

tr {
   text-align: left;
   vertical-align: top;
   line-height: 1rem;
}

th, td {
      padding-top:5px;
      padding-left: 5px;
      margin-left: 5px;
}

p{
   margin-top: 0;
}

/*pictures*/

.pictures{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  text-align: left;
  margin-bottom: 30px;
  font-size:.76rem;
  line-height: 1rem;
}

.img-group{
  width: 232px;
  height: 670px;
  float:right;
}

#hami{
  width: 270px;
  height: 535px;
  float:right;
  text-align: center;
}

#hami img {
  width: 220px;
}

#tower{
  height: 360px;
  width: 230px;
}

#tower img{
  width: 220px;
}

#space {
  width: 230px;
  height: 220px;
}

#space img{
  width: 220px;
}

#office{
   width: 190px;
   height: 285px;
   float: right;
}

#office img{
   width: 180px;
}

.pictures p {
   font-size: .76rem;
   padding-left: 10px;
   padding-right: 25px;
   line-height: 1rem;
   margin-top: 0;
}

/* ----------------main section elements------------- */


/** main nav elemenets **/

.main-nav ul li {
  display: inline-block;
  margin: 5px;
}

.main-nav img{
  width: 22%;
  position: absolute;
  top: -2px;
  left: -22px;
}

.login-tabs{
  font-size:0.75rem;
}

.login-tabs li:first-of-type{
   position: relative;
}

ul.login-tabs {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -20px;
}

.login-tabs:first-child{
  color: rgb(112, 112, 112);
}

.nav-wrapper{
  display:flex;
  flex-wrap: nowrap;
}

.subtabs{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  line-height: 1.2rem;
  margin-bottom: -10px;
  font-size: .8rem;
}

.subtabs ul {
   padding-left: 0px;
}

.subtabs a{
   padding-top: 5px;
   background: linear-gradient(white, rgb(229, 239, 246));
   border-left: 1px solid;
   border-image: linear-gradient(white, #A7D7F9) 1 100%;
   box-sizing: border-box;
   height: 35px;
}

.subtabs a:last-of-type {
   border-right: 1px solid;
   border-image: linear-gradient(white, #A7D7F9) 1 100%;
}

.subtabs-left{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.subtabs-right{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

input{
   width: 20vw;
   margin-top: 13px;
   margin-left: 9px;
}

aside a {
  display: block;
}

.subtabs div {
   margin:0;
   padding: 0;
}

.main-nav .subtabs .active {
   background: white;
   color: #333;
   border-bottom: 5px solid white;
}
/**article elements**/

#content-list{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  display: inline-block;
  box-sizing: border-box;
  width: 122px;
  height: 260px;
  padding: 8px;
  line-height: 1.35rem;
  font-size: 0.85rem;
}

#content-list li ol > li{
  margin-left: -20px;
}

#content-list li ol li ol li{
  margin-left: 0px;
  padding: 0;
}

#content-list p{
  margin: 0px 0px 6px 4px;
  padding: 0;
  font-weight: bold;
}

#legacy li, #publications li {
  color: rgb(12, 16, 106);
  list-style-type: disc;
}

h2 > span, h3 > span, #content-list span {
  font-size: 13px;
  padding-left: 4px;
}

section p > a[href="#"], #legacy ul a[href="#"]{
   vertical-align: top;
   font-size: 0.65rem;
   line-height: 1.2rem;
   padding: 0;
   margin: 0;
}

/*** article header elements ***/

header p:first-of-type{
   margin-top: -5px;
   font-size: .8rem;
}

header p:last-of-type{
   margin-left: 20px;
   font-style: italic;
}

/** footer elements **/

footer ul{
   padding: inherit;
   text-align: left;
}

 footer ul li {
    margin-left: 0px;
    margin-right: 10px;
    display: inline-block;
}

#mediawiki, #wikimedia{
   width: 88px;
   height: 31px;
   float: right;
   padding: 0;
   margin: -5px 5px 5px 5px;
}

/* aside section elements */

.sidebar-nav ul:first-child{
  padding: 10px;
}

.sidebar-nav h6{
  font-size: .75rem;
  padding-left: 10px;
  margin: 10px 0 0 0;
  font-weight: normal;
  color: #4d4d4d;
}
.sidebar-nav ul {
   border:  1px solid;
   padding-bottom: 10px;
   padding-top: 0px;
   border-image: linear-gradient(to right, transparent 0%, #D8D8D8 20%, #D8D8D8 80%, transparent 100%) 0 0 1 0;
}

.sidebar-nav ul:last-of-type{
   border: none;
}

aside img{
  width: 85%;
  padding-left: 5px;
}

.sidebar-nav > :last-child {
   position: relative;
   color: #808080;
   text-align: right;
   margin-top: -10px;
}

.sidebar-nav > :last-child:hover {
   text-decoration: underline;
   color: #3366bb;
}

.sidebar-nav img{
   width: 9%;
   position: absolute;
   top: -3px;
   right: 43px;
}

.border-tabs{
   font-size: .75rem;
}

/* button*/

button{
   width: 15px;
   height: 17px;
   border: none;
   background-color: white;
   background-image: url(img/search.svg);
   background-repeat: no-repeat;
   position: absolute;
   top: 16px;
   right: 2px;
}

/* ----------------------------------------- */

@font-face {
  font-family: 'linux';
  src: url('LinLibertine_Mah.ttf')  format('truetype');
}
