/* main elements */
body{
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(white, #f6f6f6 80px);
  font-size: .9rem;
  font-family: sans-serif;
}

aside{
  flex:0 0 160px;
  padding: 5px;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

main{
  box-sizing: border-box;
  min-width: calc(100% - 170px); /* depending on width of of aside element*/
  padding: 10px 10px 10px 10px;
  line-height: 1.6em;
}

article{
  background-color: white;
  border-left: 1px solid #A7D7F9;
  border-bottom: 1px solid #A7D7F9;
  padding: 15px;
}

/* tags */

a{
  text-decoration: none;
  color: #066CC6;
}
a:hover{
  text-decoration: underline;
}

li{
  list-style: none;
}

ul{
  padding-left: 32px;
  margin: 5px 0 10px 0;
}

ol {
  padding-left: 20px;
}

h1,h2{
  display: block;
  border-bottom: 1px solid #CCCCCC;
  font-family: "linux", Georgia, Times, serif;
  font-weight: normal;
}

h1{
  font-size: 1.8rem;
}

h4{
   margin: 10px 0 5px 0;
   font-size: 1.05rem;
}

img{
  margin: 5px;
}

figure {
  width: 100%;
  margin: 0;
  padding:0;
}

form{
  position: relative;
}

span{
  font-weight: normal;
  color: black;
}

tr {
   text-align: left;
   vertical-align: top;
   line-height: 1rem;
}

th, td {
      padding-top:5px;
      padding-left: 5px;
      margin-left: 5px;
}



/*pictures*/

.pictures{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  text-align: left;
  margin-bottom: 30px;
  font-size:.76rem;
  line-height: 1rem;
}

.img-group{
  width: 232px;
  height: 670px;
  float:right;
}

#hami{
  width: 270px;
  height: 535px;
  float:right;
  text-align: center;
}

#hami img {
  width: 220px;
  height: 280px;
}

#tower{
  height: 360px;
  width: 230px;
}

#tower img{
  width: 220px;
  height: 275px;
}

#space {
  width: 230px;
  height: 220px;
}

#space img{
  width: 220px;
  height: 170px;
}

.pictures p {
   font-size: .76rem;
   padding-left: 10px;
   line-height: 1rem;
   margin-top: 0;
}

/* main section elements */

/** main nav elemenets **/

.main-nav ul li {
  display: inline-block;
  margin: 5px;
}

input{
  margin: 8px;
}

ul.login-tabs {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -20px;
}

.login-tabs:first-child{
  color: rgb(112, 112, 112);
}

.nav-wrapper{
  display:flex;
  flex-wrap: nowrap;
}

.subtabs{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  line-height: 1.2rem;
  margin-bottom: -15px;
}

.subtabs-left{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.subtabs-right{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  padding:0;
}

.border-tabs{
  font-size:0.9rem;
}

.footer-tabs{
  font-size:0.6rem;
}

li > a {
  display: block;
}

/**article elements**/

#content-list{
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  display: inline-block;
  width: 120px;
  height: 260px;
  padding: 10px;
  line-height: 1.4rem;
}

#content-list li ol > li{
  margin-left: -20px;
}

#content-list li ol li ol li{
  margin-left: 0px;
  padding: 0;
}

#content-list p{
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
}

#legacy li, #publications li {
  color: rgb(12, 16, 106);
  list-style-type: disc;
}

h2 > span, h3 > span {
  font-size: 15px;
  padding-left: 4px;
}
/* aside section elements */

.sidebar-nav ul:first-child{
  padding: 10px;
}

.sidebar-nav h6{
  font-size: .8rem;
  padding-left: 10px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

aside img{
  width: 90%;
}


/* button*/

button{
   width: 15px;
   height: 17px;
   border: none;
   background-color: white;
   background-image: url(img/search.svg);
   background-repeat: no-repeat;
   position: absolute;
   top: 11px;
   right: 10px;
}


/* ----------------------------------------- */

@font-face {
  font-family: 'linux';
  src: url('LinLibertine_Mah.ttf')  format('truetype');
}
