body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color:rgb(217, 172, 40);
  border: 1px solid rgb(141, 148, 144);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

#info {
  min-width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#info > div {
  flex-basis: 190px;
}

#control {
  min-width: 400px;
  height: 70px;
}

#current-song > img {
  width: 75px;
  margin-left: -75px;
}

audio {
  position: relative;
  bottom: -25px;
  width: 100%;
}

div {
  border: 1px solid rgb(141, 148, 144);
  min-height: 50px;
}
